.compose {
    &-ctn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        position: relative;
        height: 100%;
        // border: 1px solid red;
        width: 350px;

        >span {
            position: relative;
        }
    }

    &-input {
        border: 1px solid #505050;
        padding: 1em;
        border-radius: 5px;
        outline: none;
        font-size: 1.2em;
        background-color: #242424;

    }

    &-label {
        position: absolute;
        top: -15px;
        left: 15px;
        background-color: #242424;
        padding: 0 .4em
    }
}

.subject {
    width: 300px;
    // border: 1px solid red;
}

.content {
    width: 305px
}