.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .7rem;
    border-radius: 6px;
    border: none;
}

.form-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    min-width: 325px;
}

.form-input-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5em;

    >label {
        text-align: left;
        width: 100%;
        font-size: small;
    }
}

.form-error-msg {
    color: salmon;
    font-size: .8rem;
}