.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-header {
    background-color: #343a40;
    color: white;
}

.modal-footer {
    background-color: #f7f7f7;
    border-top: 1px solid #e4e4e4;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.font-awesome-icon {
    font-size: 1.2rem;
}