.section-ctn {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    min-width: 75vw;
    justify-content: flex-start;
    align-items: center;
    padding: 7em 0 0 0;
}

.centered {
    justify-content: center;
    align-items: center;
}